Missatgeria/respuesta.2.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="http://gencat.net/scsp/esquemes/respuesta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="http://gencat.net/scsp/esquemes/respuesta" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Apellido1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Apellido2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Atributos">
		<xs:complexType>
			<xs:all>
				<xs:element ref="IdPeticion"/>
				<xs:element ref="NumElementos"/>
				<xs:element ref="TimeStamp"/>
				<xs:element ref="Estado" minOccurs="0"/>
				<xs:element ref="CodigoCertificado"/>
				<xs:element ref="CodigoProducto"/>
				<xs:element ref="Emisor" minOccurs="0"/>
				<xs:element ref="IdSolicitanteOriginal" minOccurs="0"/>
				<xs:element ref="NomSolicitanteOriginal" minOccurs="0"/>
				<xs:element ref="Funcionario" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="CodigoCertificado">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="64"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoEstado">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoEstadoSecundario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Consentimiento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Si"/>
				<xs:enumeration value="Ley"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DatosGenericos">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Emisor"/>
				<xs:element ref="Solicitante"/>
				<xs:element ref="Titular" minOccurs="0"/>
				<xs:element ref="Transmision"/>
				<xs:element ref="Ficheros" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Documentacion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Emisor">
		<xs:complexType>
			<xs:all>
				<xs:element ref="NifEmisor"/>
				<xs:element ref="NombreEmisor"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Estado">
		<xs:complexType>
			<xs:all>
				<xs:element ref="CodigoEstado" minOccurs="0"/>
				<xs:element ref="CodigoEstadoSecundario" minOccurs="0"/>
				<xs:element ref="LiteralError" minOccurs="0"/>
				<xs:element ref="TiempoEstimadoRespuesta" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="FechaGeneracion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="29"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Finalidad">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="250"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Funcionario">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NombreCompletoFuncionario" minOccurs="0"/>
				<xs:element ref="NifFuncionario" minOccurs="0"/>
				<xs:element ref="EMailFuncionario" minOccurs="0"/>
				<xs:element ref="CodigoOrganismoFuncionario" minOccurs="0"/>
				<xs:element name="CertificadoDigital" type="xs:base64Binary" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IdentificadorSolicitante">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdPeticion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdSolicitud">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdTransmision">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="29"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LiteralError">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NifEmisor">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreCompletoFuncionario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="122"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NifFuncionario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EMailFuncionario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="122"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoOrganismoFuncionario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Nombre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreCompleto">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="122"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreEmisor">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreSolicitante">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumElementos">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="7"/>
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Respuesta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Atributos"/>
				<!-- Las transmisiones son opcionales en caso de que la repuesta no este preparada y se devuelva un TER -->
				<xs:element ref="Transmisiones" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Solicitante">
		<xs:complexType>
			<xs:all>
				<xs:element ref="IdentificadorSolicitante"/>
				<xs:element ref="NombreSolicitante"/>
				<xs:element ref="Finalidad"/>
				<xs:element ref="Consentimiento"/>
				<xs:element ref="Funcionario" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="TiempoEstimadoRespuesta">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="4"/>
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TimeStamp">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="29"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TipoDocumentacion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CIF"/>
				<xs:enumeration value="NIF"/>
				<xs:enumeration value="DNI"/>
				<xs:enumeration value="Pasaporte"/>
				<xs:enumeration value="NIE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Titular">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TipoDocumentacion"/>
				<xs:element ref="Documentacion"/>
				<xs:element ref="NombreCompleto" minOccurs="0"/>
				<xs:element ref="Nombre" minOccurs="0"/>
				<xs:element ref="Apellido1" minOccurs="0"/>
				<xs:element ref="Apellido2" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Transmision">
		<xs:complexType>
			<xs:all>
				<xs:element ref="CodigoCertificado"/>
				<xs:element ref="IdSolicitud"/>
				<xs:element ref="IdTransmision"/>
				<xs:element ref="FechaGeneracion"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="TransmisionDatos">
		<xs:complexType>
			<xs:all>
				<xs:element ref="DatosGenericos"/>
				<xs:element name="DatosEspecificos" type="xs:anyType" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!-- 
  Las transmisiones son opcionales en caso de devolver en la respuesta un nuevo TER.
  
  -->
	<xs:element name="Transmisiones" nillable="false">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TransmisionDatos" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CodigoProducto">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdSolicitanteOriginal">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NomSolicitanteOriginal">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Ficheros">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Fichero" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fichero">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NombreFichero" type="xs:string" minOccurs="0"/>
				<xs:choice>					
					<xs:element name="RutaFichero" type="xs:string"/>
					<xs:element name="URLDescarga" type="xs:string"/>
					<xs:element name="Contenido" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
				</xs:choice>
				<xs:element ref="Id"/>
				<xs:element name="Hash" type="xs:base64Binary" minOccurs="0"/>
				<xs:element name="Firma" type="xs:base64Binary" minOccurs="0"/>
				<xs:element ref="Via" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Id">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Via">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Entrada"/>
				<xs:enumeration value="Salida"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
